/* Section */
.section {
    padding: 40px 8%;
}

.section h2 {
    margin-bottom: 20px;
}

/* Army Hero */
.army-hero {
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url("https://images.unsplash.com/photo-1603398938378-e54eab446dde");

    background-size: cover;
    background-position: center;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}